.homeContainer {
  height: 100vh;
  border-left: 3px solid wheat;
  border-right: 3px solid wheat;

  & .liveStatusContainer {
    position: absolute;
    right: 3vw;
    top: 2vh;
    width: 26vw;
  }

  & .actionsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    top: 1vh;
  }

  & .currentImageContainer {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    display: block;
  }

  & .locationDescriptionContainer {
    width: 44vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & .charInfoMenu {
    position: fixed;
    top: 2vh;
  }

  & .locationTabsContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
